<a class="navbar-brand">JMAD</a>

<form>
  <label for="jmad-instrument">Instrument</label>
  <input type="text" class="form-control" id="jmad-instrument" name="instrument" placeholder="i.e. trumpet" />

  <label for="jmad-artist">Artist</label>
  <input type="text" class="form-control" id="jmad-artist" name="artist" placeholder="i.e. Davis" />

  <button type="submit">Search JMAD</button>
</form>

{% for solo in solos %}
  <div class="jmad-search-result">
    {{ solo.track }}: {{ solo.artist }} on {{ solo.instrument }}
  </div>
{% endfor %}
