interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://musicbrainz.org/ws/2/artist/?query=Miles+Davis
  response:
    body: {string: '<?xml version="1.0" encoding="UTF-8" standalone="yes"?><metadata
        created="2015-08-04T04:12:43.654Z" xmlns="http://musicbrainz.org/ns/mmd-2.0#"
        xmlns:ext="http://musicbrainz.org/ns/ext#-2.0"><artist-list count="1364" offset="0"><artist
        id="561d854a-6a28-4aa7-8c99-323e6ce46c2a" type="Person" ext:score="100"><name>Miles
        Davis</name><sort-name>Davis, Miles</sort-name><gender>male</gender><country>US</country><area
        id="489ce91b-6658-3307-9877-795b68554c98"><name>United States</name><sort-name>United
        States</sort-name></area><begin-area id="39e1719e-2604-4b59-b698-dab7caf85b33"><name>Alton</name><sort-name>Alton</sort-name></begin-area><end-area
        id="dbacf2e3-7e3e-4cee-8804-999b109285fa"><name>Santa Monica</name><sort-name>Santa
        Monica</sort-name></end-area><disambiguation>jazz trumpeter, bandleader, songwriter</disambiguation><ipi-list><ipi>00007619785</ipi></ipi-list><life-span><begin>1926-05-26</begin><end>1991-09-28</end><ended>true</ended></life-span><alias-list><alias
        sort-name="Miles Davies">Miles Davies</alias><alias sort-name="Miles Dewey
        Davis III.">Miles Dewey Davis III.</alias><alias sort-name="Favis, Miles">Miles
        Favis</alias></alias-list><tag-list><tag count="0"><name>miles davis</name></tag><tag
        count="0"><name>death by pneumonia</name></tag><tag count="3"><name>modal
        jazz</name></tag><tag count="2"><name>bebop</name></tag><tag count="0"><name>jazz
        and blues</name></tag><tag count="3"><name>cool jazz</name></tag><tag count="9"><name>jazz</name></tag><tag
        count="1"><name>american</name></tag><tag count="1"><name>musical</name></tag><tag
        count="2"><name>hard bop</name></tag><tag count="1"><name>jazz-funk<[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://musicbrainz.org/ws/2/release/?artist=561d854a-6a28-4aa7-8c99-323e6ce46c2a&inc=recordings
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><metadata xmlns=\"http://musicbrainz.org/ns/mmd-2.0#\"><release-list
        count=\"761\"><release id=\"019aaa17-2016-4b36-afe4-aa2bdee2fdbd\"><title>Walkin'</title><status>Official</status><quality>normal</quality><text-representation><language>eng</language><script>Latn</script></text-representation><date>1954</date><country>US</country><release-event-list
        count=\"1\"><release-event><date>1954</date><area id=\"489ce91b-6658-3307-9877-795b68554c98\"><name>United
        States</name><sort-name>United States</sort-name><iso-3166-1-code-list><iso-3166-1-code>US</iso-3166-1-code></iso-3166-1-code-list></area></release-event></release-event-list><cover-art-archive><artwork>true</artwork><count>5</count><front>true</front><back>true</back></cover-art-archive><medium-list
        count=\"1\"><medium><position>1</position><track-list count=\"5\" offset=\"0\"><track
        id=\"29d6855c-752d-3909-9120-f85dc9740a82\"><position>1</position><number>1</number><length>809000</length><recording
        id=\"90594a26-0d5b-4053-8e2a-7c05b9c5a447\"><title>Walkin'</title><length>809000</length><disambiguation>1954-4-29:
        RVG Studio</disambiguation></recording></track><track id=\"e10588e3-3270-3180-9264-fbe640234f0b\"><position>2</position><number>2</number><length>499000</length><recording
        id=\"80b29c0d-c8b9-4393-97fe-40bc134cdd38\"><title>Blue 'n' Boogie</title><length>499000</length></recording></track><track
        id=\"103822b2-6041-38e3-aefb-8988101e31a8\"><position>3</position><number>3</number><length>285000</length><recording
        id=\"87a3e256-7e71-4156-9b95-250eff3730fd\"><title>Solar</title><length>285000</length></recording></track><track
  [...]
