interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://musicbrainz.org/ws/2/artist/?query=Nirvana
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><metadata
        created=\"2015-08-04T03:12:14.012Z\" xmlns=\"http://musicbrainz.org/ns/mmd-2.0#\"
        xmlns:ext=\"http://musicbrainz.org/ns/ext#-2.0\"><artist-list count=\"13\"
        offset=\"0\"><artist id=\"9282c8b4-ca0b-4c6b-b7e3-4f7762dfc4d6\" type=\"Group\"
        ext:score=\"100\"><name>Nirvana</name><sort-name>Nirvana</sort-name><country>GB</country><area
        id=\"8a754a16-0027-3a29-b6d7-2b40ea0481ed\"><name>United Kingdom</name><sort-name>United
        Kingdom</sort-name></area><begin-area id=\"f03d09b3-39dc-4083-afd6-159e3f0d462f\"><name>London</name><sort-name>London</sort-name></begin-area><disambiguation>60s
        band from the UK</disambiguation><life-span><begin>1967</begin><ended>false</ended></life-span><tag-list><tag
        count=\"1\"><name>rock</name></tag><tag count=\"1\"><name>pop</name></tag><tag
        count=\"1\"><name>progressive rock</name></tag><tag count=\"1\"><name>orchestral</name></tag><tag
        count=\"1\"><name>british</name></tag><tag count=\"1\"><name>power pop</name></tag><tag
        count=\"1\"><name>psychedelic rock</name></tag><tag count=\"1\"><name>soft
        rock</name></tag><tag count=\"1\"><name>symphonic rock</name></tag><tag count=\"1\"><name>english</name></tag></tag-list></artist><artist
        id=\"85af0709-95db-4fbc-801a-120e9f4766d0\" type=\"Group\" ext:score=\"100\"><name>Nirvana</name><sort-name>Nirvana</sort-name><country>FI</country><area
        id=\"6a264f94-6ff1-30b1-9a81-41f7bfabd616\"><name>Finland</name><sort-name>Finland</sort-name></area><disambiguation>Early
        1980's Finnish punk band</disambiguation><life-span><ended>false</ended></life-span><tag-list><tag
        count=\"1\"><name>punk</name></tag><tag count=\"1\"><name>finland</name></tag></tag-list></artist><artist
        id=\"5b11f4ce-a62d-471e-81fc-a69a8278c7da\" type=\"Group\" ext:score=\"90\"><name>Nirvana</name><sort-name>Nirvana</sort-name><country>US</country><area
        id=\"489ce91b-6658-3307-9877-795b68554c98\"><name>United States</name><sort-name>United
        States</sort-name></area><begin-area id=\"a640b45c-c173-49b1-8030-973603e895b5\"><name>Aberdeen</name><sort-name>Aberdeen</sort-name></begin-area><disambiguation>90s
        US grunge band</disambiguation><life-span><begin>1988-01</begin><end>1994-04-05</end><ended>true</ended></life-span><alias-list><alias
        sort-name=\"Nirvana US\">Nirvana US</alias></alias-list><tag-list><tag count=\"2\"><name>punk</name></tag><tag
        count=\"0\"><name>legendary</name></tag><tag count=\"1\"><name>90</name></tag><tag
        count=\"2\"><name>seattle</name></tag><tag count=\"1\"><name>northwest</name></tag><tag
        count=\"1\"><name>alternative</name></tag><tag count=\"0\"><name>rock and
        indie</name></tag><tag count=\"0\"><name>am\xE9ricain</name></tag><tag count=\"2\"><name>usa</name></tag><tag
        count=\"7\"><name>american</name></tag><tag count=\"1\"><name>united states</name></tag><tag
        count=\"0\"><name>kurt cobain</name></tag><tag count=\"2\"><name>90s</name></tag><tag
        count=\"4\"><name>alternative rock</name></tag><tag count=\"0\"><name>band</name></tag><tag
        count=\"8\"><name>rock</name></tag><tag count=\"12\"><name>grunge</name></tag><tag
        count=\"1\"><name>acoustic rock</name></tag><tag count=\"1\"><name>noise rock</name></tag><tag
        count=\"0\"><name>nirvana</name></tag></tag-list></artist><artist id=\"f2dfdff9-3862-4be0-bf85-9c833fa3059e\"
        type=\"Group\" ext:score=\"65\"><name>Nirvana 2002</name><sort-name>Nirvana
        2002</sort-name><country>SE</country><area id=\"23d10872-f5ae-3f0c-bf55-332788a16ecb\"><name>Sweden</name><sort-name>Sweden</sort-name></area><disambiguation>Swedish
        death metal band</disambiguation><life-span><begin>1988</begin><ended>false</ended></life-span><alias-list><alias
        sort-name=\"Nirvana\">Nirvana</alias><alias sort-name=\"Prophet 2002\">Prophet
        2002</alias></alias-list></artist><artist id=\"b305320e-c158-43f4-b5be-4450e2f99a32\"
        ext:score=\"62\"><name>El Nirvana</name><sort-name>Nirvana, El</sort-name><life-span><ended>false</ended></life-span></artist><artist
        id=\"c3a64a25-251b-4d03-afba-1471440245b8\" type=\"Group\" ext:score=\"62\"><name>Approaching
        Nirvana</name><sort-name>Approaching Nirvana</sort-name><country>US</country><area
        id=\"489ce91b-6658-3307-9877-795b68554c98\"><name>United States</name><sort-name>United
        States</sort-name></area><life-span><ended>false</ended></life-span></artist><artist
        id=\"86f9ae24-ba2a-4d55-9275-0b89b85f6e3a\" ext:score=\"62\"><name>Weed Nirvana</name><sort-name>Weed
        Nirvana</sort-name><life-span><ended>false</ended></life-span></artist><artist
        id=\"329c04ae-3b73-4ca3-996f-75608ab1befb\" type=\"Person\" ext:score=\"58\"><name>Nirvana
        Singh</name><sort-name>Singh, Nirvana</sort-name><life-span><ended>false</ended></life-span></artist><artist
        id=\"206419e0-3a7a-49ce-8437-4e757767d02b\" type=\"Person\" ext:score=\"58\"><name>Nirvana
        Savoury</name><sort-name>Savoury, Nirvana</sort-name><gender>female</gender><country>US</country><area
        id=\"489ce91b-6658-3307-9877-795b68554c98\"><name>United States</name><sort-name>United
        States</sort-name></area><life-span><ended>false</ended></life-span></artist><artist
        id=\"e1388435-f80d-434a-9980-f1c9f5aa9b90\" ext:score=\"45\"><name>Nirvana
        Sitar &amp; String Group</name><sort-name>Nirvana Sitar &amp; String Group</sort-name><life-span><ended>false</ended></life-span></artist><artist
        id=\"477a19b3-6d80-4622-[...]
