interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://musicbrainz.org/ws/2/artist/?query=Oscar+Peterson
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><metadata
        created=\"2015-08-04T03:12:14.012Z\" xmlns=\"http://musicbrainz.org/ns/mmd-2.0#\"
        xmlns:ext=\"http://musicbrainz.org/ns/ext#-2.0\"><artist-list count=\"600\"
        offset=\"0\"><artist id=\"ed801bdd-f057-41c0-94fb-76cb5676cd59\" type=\"Person\"
        ext:score=\"100\"><name>Oscar Peterson</name><sort-name>Peterson, Oscar</sort-name><gender>male</gender><country>CA</country><area
        id=\"71bbafaa-e825-3e15-8ca9-017dcad1748b\"><name>Canada</name><sort-name>Canada</sort-name></area><begin-area
        id=\"c3cc624e-b963-49cf-ad0b-e318cb341963\"><name>Montreal</name><sort-name>Montreal</sort-name></begin-area><end-area
        id=\"2747553f-b44d-44c4-a7c3-b67412b6f10b\"><name>Ontario</name><sort-name>Ontario</sort-name></end-area><life-span><begin>1925-08-15</begin><end>2007-12-23</end><ended>true</ended></life-span><alias-list><alias
        sort-name=\"Peterson, Oscar Emmanuel\" type=\"Legal name\">Oscar Emmanuel
        Peterson</alias><alias sort-name=\"Oscar Petersen\">Oscar Petersen</alias><alias
        sort-name=\"Petterson, Oscar\">Oscar Petterson</alias></alias-list><tag-list><tag
        count=\"1\"><name>piano jazz</name></tag><tag count=\"0\"><name>death by kidney
        failure</name></tag><tag count=\"2\"><name>jazz</name></tag><tag count=\"1\"><name>canadian</name></tag></tag-list></artist><artist
        id=\"d845e4bd-7555-4179-8522-db616cca103a\" type=\"Group\" ext:score=\"87\"><name>Oscar
        Peterson Quartet</name><sort-name>Oscar Peterson Quartet</sort-name><life-span><ended>false</ended></life-span></artist><artist
        id=\"e6265612-b7c2-4ac9-8731-754d7a0f776b\" type=\"Group\" ext:score=\"87\"><name>The
        Oscar Peterson Trio</name><sort-name>Peterson, Oscar Trio, The</sort-name><country>US</country><area
        id=\"489ce91b-6658-3307-9877-795b68554c98\"><name>United States</name><sort-name>United
        States</sort-name></area><disambiguation>all others</disambiguation><life-span><ended>false</ended></life-span><alias-list><alias
        sort-name=\"Oscar Petersen Trio\">Oscar Petersen Trio</alias></alias-list></artist><artist
        id=\"b083ec9b-27e0-4fda-801d-cb40861a0578\" type=\"Group\" ext:score=\"87\"><name>The
        Oscar Peterson Trio</name><sort-name>Peterson, Oscar, Trio, The</sort-name><country>US</country><area
        id=\"489ce91b-6658-3307-9877-795b68554c98\"><name>United States</name><sort-name>United
        Stat[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://musicbrainz.org/ws/2/release/?artist=ed801bdd-f057-41c0-94fb-76cb5676cd59&inc=recordings
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><metadata xmlns=\"http://musicbrainz.org/ns/mmd-2.0#\"><release-list
        count=\"233\"><release id=\"0790458a-58ed-329d-b979-03b788e98c92\"><title>Exclusively
        for My Friends, Volume 4: My Favorite Instrument</title><status>Official</status><quality>normal</quality><text-representation><language>eng</language><script>Latn</script></text-representation><date>1968</date><country>US</country><release-event-list
        count=\"1\"><release-event><date>1968</date><area id=\"489ce91b-6658-3307-9877-795b68554c98\"><name>United
        States</name><sort-name>United States</sort-name><iso-3166-1-code-list><iso-3166-1-code>US</iso-3166-1-code></iso-3166-1-code-list></area></release-event></release-event-list><cover-art-archive><artwork>false</artwork><count>0</count><front>false</front><back>false</back></cover-art-archive><medium-list
        count=\"1\"><medium><position>1</position><track-list count=\"9\" offset=\"0\"><track
        id=\"079e60a3-b310-3b11-ba79-a0c352f99125\"><position>1</position><number>1</number><length>258000</length><recording
        id=\"df48c63d-ef60-4e92-bd40-1265e93443e2\"><title>Someone to Watch Over Me</title><length>258000</length></recording></track><track
        id=\"4f4dbec0-731b-3927-96dc-4bd781d32859\"><position>2</position><number>2</number><length>377000</length><recording
        id=\"75aa5dfc-302c-4916-b690-c6847a4d6ffa\"><title>Perdido</title><length>377000</length></recording></track><track
        id=\"c91cecc1-1afa-32a5-8d50-f3c0b897f706\"><position>3</position><number>3[...]
