interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://musicbrainz.org/ws/2/artist/?query=Jaco+Pastorius
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><metadata
        created=\"2015-08-04T03:12:14.012Z\" xmlns=\"http://musicbrainz.org/ns/mmd-2.0#\"
        xmlns:ext=\"http://musicbrainz.org/ns/ext#-2.0\"><artist-list count=\"25\"
        offset=\"0\"><artist id=\"46a6fac0-2e14-4214-b08e-3bdb1cffa5aa\" type=\"Person\"
        ext:score=\"100\"><name>Jaco Pastorius</name><sort-name>Pastorius, Jaco</sort-name><gender>male</gender><country>US</country><area
        id=\"489ce91b-6658-3307-9877-795b68554c98\"><name>United States</name><sort-name>United
        States</sort-name></area><begin-area id=\"0b345109-5a24-4e47-8bc5-44227f0bdcc3\"><name>Norristown</name><sort-name>Norristown</sort-name></begin-area><end-area
        id=\"a2993fdb-6cc6-49da-abe6-831142053fd1\"><name>Fort Lauderdale</name><sort-name>Fort
        Lauderdale</sort-name></end-area><ipi-list><ipi>00049970439</ipi></ipi-list><life-span><begin>1951-12-01</begin><end>1987-09-21</end><ended>true</ended></life-span><alias-list><alias
        sort-name=\"Jaco Pastorious\">Jaco Pastorious</alias></alias-list><tag-list><tag
        count=\"1\"><name>funk</name></tag><tag count=\"1\"><name>jazz fusion</name></tag><tag
        count=\"1\"><name>jazz</name></tag><tag count=\"1\"><name>american</name></tag><tag
        count=\"1\"><name>bassist</name></tag><tag count=\"1\"><name>jaco pastorius</name></tag></tag-list></artist><artist
        id=\"c403e44b-76f5-40de-937d-e15e3dd9b565\" type=\"Group\" ext:score=\"76\"><name>Jaco
        Pastorius Big Band</name><sort-name>Pastorius, Jaco Big Band</sort-name><life-span><ended>false</ended></life-span></artist><artist
        id=\"db1e6f90-3918-4ae7-a688-556f03ee9148\" type=\"Group\" ext:score=\"76\"><name>Jaco
        Pastorius Trio</name><sort-name>Pastorius, Jaco, Trio</sort-name><life-span><ended>false</ended></life-span></artist><artist
        id=\"6df49a4a-c0bf-4b7b-aa1a-9a3a3190a5a9\" type=\"Person\" ext:score=\"32\"><name>Jaco</name><sort-name>Jaco</sort-name><gender>male</gender><area
        id=\"d7916885-2577-4bcc-ae7b-52f2e93df949\"><name>Fredrikstad</name><sort-name>Fredrikstad</sort-name></area><disambiguation>Trance/Progressive
        DJ &amp; producer from Fredrikstad, Norway</disambiguation><life-span><begin>1986-09-21</begin><ended>false</ended></life-span></artist><artist
        id=\"1c72ad30-8c09-4fbf-9f4b-784edc49c1e6\" type=\"Group\" ext:score=\"32\"><name>Jaco</name><sort-name>Jaco</sort-name><country>GB</country><area
        id=\"8a754a16-0027-3a29-b6d7-2b40ea0481ed\"><name>United Kingdom</name><sort-name>United
        Kingdom</sort-name></area><life-span><ended>false</ended></life-span>[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://musicbrainz.org/ws/2/release/?artist=46a6fac0-2e14-4214-b08e-3bdb1cffa5aa&inc=recordings
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><metadata xmlns=\"http://musicbrainz.org/ns/mmd-2.0#\"><release-list
        count=\"60\"><release id=\"07ae48b5-8ebe-4453-86db-9c45d602c3fe\"><title>PDB</title><quality>normal</quality><text-representation><language>eng</language><script>Latn</script></text-representation><date>1986</date><country>US</country><release-event-list
        count=\"1\"><release-event><date>1986</date><area id=\"489ce91b-6658-3307-9877-795b68554c98\"><name>United
        States</name><sort-name>United States</sort-name><iso-3166-1-code-list><iso-3166-1-code>US</iso-3166-1-code></iso-3166-1-code-list></area></release-event></release-event-list><cover-art-archive><artwork>false</artwork><count>0</count><front>false</front><back>false</back></cover-art-archive><medium-list
        count=\"1\"><medium><position>1</position><track-list count=\"6\" offset=\"0\"><track
        id=\"4e99538a-cf20-3c24-a297-f306f8e1648d\"><position>1</position><number>1</number><length>582826</length><recording
        id=\"db029dd5-4dfe-4713-a1da-0bdeaac137d8\"><title>Invitation</title><length>582826</length></recording></track><track
        id=\"e026497c-586b-33f4-9a0e-ff331937276f\"><position>2</position><number>2</number><length>456666</length><recording
        id=\"4cf45323-bd86-4d80-9b00-98fa9d8399a4\"><title>Three Views of a Secret</title><length>456666</length></recording></track><track
        id=\"593b02c3-2756-3079-b67a-a97a7083461e\"><position>3</position><number[...]
